<% include ../header %>
<div class="right_content">            

    <h2><%= menu.title %></h2>
    <%- include ../tips %>
    
    <table id="rounded-corner" summary="2007 Major IT Companies' Profit">
        <thead>
         <tr>
             <th scope="col" class="rounded-company">ID</th>
             <th scope="col" class="rounded">申请人</th>
             <th scope="col" class="rounded">性别</th>
             <th scope="col" class="rounded">电话</th>
             <th scope="col" class="rounded">最近登录</th>
             <th scope="col" class="rounded">审核状态</th>
             <th scope="col" class="rounded">培训状态</th>
             <th scope="col" class="rounded-q4">详情/操作</th>
         </tr>
     </thead>
     <tfoot>
         <tr>
             <!-- <td colspan="6" class="rounded-foot-left"><em> </em></td>
             <td class="rounded-foot-right">&nbsp;</td> -->

         </tr>
     </tfoot>

     <tbody>

        <% for(var i = 0; i < rows.length; i++) { %>
         <tr>
            <!-- <td><input type="checkbox" name="" /></td> -->
            <td><%= rows[i]["User_Id"] %></td>
            <td><%= rows[i]["Name"] %></td>
            <td>
                <% if(rows[i]["Sex"] == 0){ %>
                <%= "男" %>
                <% }else if(rows[i]["Sex"] == 1){ %>
                <%= "女" %>
                <% }else{ %>
                <%= "不详" %>
                <% } %>
            </td>
            <td><%= rows[i]["Mobile"] %></td>
            <td><%= rows[i]["Nearest_Time"] %></td>
             
            <td>
                <% if(rows[i]["Role"]==2.1 || rows[i]["Role"]==2.0) { %>
                <img src="/images/in/images/valid.png" alt="" title="已通过审核" border="0" height=16 width=16 />
                <% } else if(rows[i]["Role"]==2.2) { %>
                <img src="/images/in/images/warning.png" alt="" title="待审核" border="0" height=16 width=16 />
                <% } else if(rows[i]["Role"]==2.3) { %>
                <img src="/images/in/images/error.png" alt="" title="审核已拒绝" border="0" height=16 width=16 />
                <% } else { %>
                <%= "异常" %>
                <% } %>
            </td>

            <td>
                <% if(rows[i]["Role"]==2) { %>
                <img src="/images/in/images/valid.png" alt="" title="已通过培训" border="0" height=16 width=16 />
                <% } else if(rows[i]["Role"]>2 && rows[i]["Role"]<=2.3) { %>
                <img src="/images/in/images/error.png" alt="" title="未通过培训" border="0" height=16 width=16 />
                <% } else { %>
                <img src="/images/in/images/help.png" alt="" title="状态异常" border="0" height=16 width=16 />
                <% } %>
                
            </td>

            <td>
                <% if(rows[i]["Role"] == 2.2 || rows[i]["Role"] == 2.3){ %>
                    <a href="/vol/volAud?user_id=<%= rows[i]["User_Id"] %>">
                <% }else if(rows[i]["Role"] == 2.1){ %>
                    <a href="/vol/volTrain?user_id=<%= rows[i]["User_Id"] %>">
                <% }else if(rows[i]["Role"] == 2){ %>
                    <a href="/vol/volEdit?user_id=<%= rows[i]["User_Id"] %>">
                <% } %>
                
                <img src="/images/in/images/user_edit.png" alt="" title="" border="0" />
                </a>
            </td>

             <!-- <td><a href="#" class="ask"><img src="/images/in/images/trash.png" alt="" title="" border="0" /></a></td> -->
         </tr>
        <% } %>
   

     </tbody>
 </table>

 <!-- <a href="#" class="bt_green"><span class="bt_green_lft"></span><strong>Add new item</strong><span class="bt_green_r"></span></a> -->
 <!-- <a href="#" class="bt_red"><span class="bt_red_lft"></span><strong>Delete items</strong><span class="bt_red_r"></span></a>  -->

<p></p>
 <div class="pagination">
    <% if(isFirstPage){ %>
    <span class="disabled">上一页</span>
    <% } else { %>
    <a href="?page=<%= (page - 1) %>">上一页</a>
    <% } %>

    <% if(page - 5 > 0) { %><a href="?page=<%= (page - 5) %>"><%= page-5 %></a><% } %>
    <% if(page - 4 > 0) { %><a href="?page=<%= (page - 4) %>"><%= page-4 %></a><% } %>
    <% if(page - 3 > 0) { %><a href="?page=<%= (page - 3) %>"><%= page-3 %></a><% } %>
    <% if(page - 2 > 0) { %><a href="?page=<%= (page - 2) %>"><%= page-2 %></a><% } %>
    <% if(page - 1 > 0) { %><a href="?page=<%= (page - 1) %>"><%= page-1 %></a><% } %>

    <a href=""><font color="balck"><%= page %>/<%= totalPage %></font></a>

    <% if(parseInt(page) + 1 <= totalPage) { %><a href="?page=<%= parseInt(page) + 1 %>"><%= parseInt(page) + 1 %></a><% } %>
    <% if(parseInt(page) + 2 <= totalPage) { %><a href="?page=<%= parseInt(page) + 2 %>"><%= parseInt(page) + 2 %></a><% } %>
    <% if(parseInt(page) + 3 <= totalPage) { %><a href="?page=<%= parseInt(page) + 3 %>"><%= parseInt(page) + 3 %></a><% } %>
    <% if(parseInt(page) + 4 <= totalPage) { %><a href="?page=<%= parseInt(page) + 4 %>"><%= parseInt(page) + 4 %></a><% } %>
    <% if(parseInt(page) + 5 <= totalPage) { %><a href="?page=<%= parseInt(page) + 5 %>"><%= parseInt(page) + 5 %></a><% } %>

    <% if(isLastPage){ %>
    <span class="disabled">下一页</span>
    <% } else { %>
    <a href="?page=<%= parseInt(page) + 1 %>">下一页</a>
    <% } %>
</div> 

</div>
     <!-- end of right content-->
        
<% include ../footer %>
